@page
@model ActivityTracker.Pages.ActivityLogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.LogDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.LogDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.Units)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.Units)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.TotalPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.TotalPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.Activity.ActivityName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ActivityLog.ActivityLogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
