@page
@model ActivityTracker.Pages.ActivityLogs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActivityLog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.LogDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.LogDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.Units)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.Units)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.TotalPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.TotalPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityLog.Activity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ActivityLog.Activity.ActivityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ActivityLog.ActivityLogId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
