@page
@model ActivityTracker.Pages.ActivityLogs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Activity Log</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" asp-for="CurrentFilter" />
            <button class="btn btn-primary">Search</button> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.LogDateSort">
                    @Html.DisplayNameFor(model => model.ActivityLog[0].LogDate)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ActivitySort">
                    @Html.DisplayNameFor(model => model.ActivityLog[0].Activity)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.UnitsSort">
                    @Html.DisplayNameFor(model => model.ActivityLog[0].Units)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.UnitNameSort">
                    @Html.DisplayNameFor(model => model.ActivityLog[0].Activity.UnitName)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.TotalPointsSort">
                    @Html.DisplayNameFor(model => model.ActivityLog[0].TotalPoints)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ActivityLog)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LogDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Units)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity.UnitName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPoints)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ActivityLogId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ActivityLogId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ActivityLogId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
